* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body {
    font-size: 16px;
}

ul {
    list-style-type: none;
    padding: 2rem;
    margin: 0;
}

ul li {
    position: relative;
    display: block;
    left: 11.1rem;
    margin: 1rem 0 3.3rem;
    padding: 1.5rem;
    max-width: 15%;
    min-height: 30%;
    text-align: center;
    border: 0.1rem solid black;
    border-radius: 1rem;
}

ul li::before {
    position: absolute;
    top: -1rem;
    left: -12rem;
    width: 20rem;
    height: 20rem;
}

ul li::after {
    position: absolute;
    top: 2.5rem;
    left: -1.3rem;
    width: 3rem;
    height: 1.8rem;
    background-color: white;
    box-shadow: -0.1rem 0.1rem 0 black;
    transform: skew(-15deg, -15deg) rotate(45deg);
    content: "";
}

.alice::before {
    width: 11rem;
    height: 11rem;
    content: url('./res/alice.png');
}

.bob::before {
    width: 11rem;
    height: 11rem;
    content: url('./res/bob.png');
}
