* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body {
    font-size: 16px;
}

.field {
    background: repeating-linear-gradient(90deg, white 0, white 1.9rem, black 2rem);
    height: 1.8rem;
    background-size: 2rem;
    padding-left: 0.25ch;
    letter-spacing: 1.3rem;
    float: left;
    font-size: 1.3rem;
}

#nume, #prenume {
    width: 43.5rem;
}

#cnp {
    width: 23rem;
}

label {
    float: left;
    clear: left;
    padding-right: 25px;
    width: 250px;
    text-align: right;
}