* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    --red: #ff0000;
    --yellow: #e5ff00;
    --green: #0e7a00;
    --pink: #ffa9d4;
}

body {
    font-size: 16px;
}

ul {
    list-style-type: none;
}

.page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}

.content-wrap {
    padding-bottom: 6rem;
}

.page-header {
    height: 10rem;
    background-color: var(--red);
}

.navbar {
    background-color: var(--yellow);
    box-sizing: border-box;
}

.nav-menu {
    background-color: #000;
}

.menu-item {
    background-color: var(--yellow);
}

.main-view {
    background-color: var(--green);
}

.item-content {
    padding: 1rem;
}

.page-footer {
    background-color: var(--pink);
    height: 6rem;
    position: absolute;
    bottom: 0;
    width: 100%;
}