<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        <clear />
        <add name="bikeContestDB"
             providerName=""
             connectionString="URI=file:E:/Projects/C#/.NET/bikeContest_Client/bikeContest.sqlite" />
    </connectionStrings>
</configuration>