<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="connectionString" connectionString="Server=DESKTOP-UM07TFE;Initial Catalog=DiebmannImobiliare;Integrated Security=true;"/>
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

    <!--<appSettings>
        <add key="ParentTable" value="Sedii"/>
        <add key="ChildTable" value="Agenti"/>
        <add key="ChildNumberOfColumns" value="3"/>
        <add key="InputNames" value="idSediuAsignat,nume,telefon"/>
        <add key="ChildTextBoxContent" value="2001,Dragomir,0123456789"/>
        <add key="InsertParameterNames" value="@idSediuAsignat,@nume,@telefon"/>
        <add key="UpdateQuery" value="UPDATE Agenti SET idSediuAsignat=@idSediuAsignat, nume=@nume, telefon=@telefon WHERE idAgent=@id"/>
        <add key="SelectQuery" value="SELECT * FROM Agenti"/>
        <add key="SelectParent" value="SELECT * FROM Sedii"/>
        <add key="SelectChild" value="SELECT * FROM Agenti WHERE idSediuAsignat=@id"/>
        <add key="DeleteChild" value="DELETE FROM Agenti WHERE idAgent=@id"/>
    </appSettings>-->
  <appSettings>
    <add key="ParentTable" value="Proprietari"/>
    <add key="ChildTable" value="ProprietateGeneral"/>
    <add key="ChildNumberOfColumns" value="7"/>
    <add key="InputNames" value="idProprietar,idAgentAsignat,tip,oras,zona,adresa,suprafata"/>
    <add key="ChildTextBoxContent" value="702,3003,locuinta,Cluj-Napoca,Marasti,Calea Dorobantilor nr.89,72"/>
    <add key="InsertParameterNames" value="@idProprietar,@idAgentAsignat,@tip,@oras,@zona,@adresa,@suprafata"/>
    <add key="UpdateQuery" value="UPDATE ProprietateGeneral SET idProprietar=@idProprietar, idAgentAsignat=@idAgentAsignat, tip=@tip, oras=@oras, zona=@zona, adresa=@adresa, suprafata=@suprafata WHERE idProprietate=@id"/>
    <add key="SelectQuery" value="SELECT * FROM ProprietateGeneral"/>
    <add key="SelectParent" value="SELECT * FROM Proprietari"/>
    <add key="SelectChild" value="SELECT * FROM ProprietateGeneral where idProprietar=@id"/>
    <add key="DeleteChild" value="DELETE FROM ProprietateGeneral where idProprietate=@id"/>
  </appSettings>
</configuration>